/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

/* Declare variables used by elements*/
html {
	--avatar-running-container-background-color: #39c693;
	--avatar-exited-container-background-color: #ff707a;
	--avatar-container-text-color: var(--lumo-base-color);
}

a[highlight] {
	font-weight: bold;
	text-decoration: underline;
}

.header .logo-container {
	font-size: 1em;
	margin: var(--lumo-space-m);
}

.logo-content {
	cursor: pointer;
}

.card {
	padding: 1em;
}

.dialog-headline {
	margin: var(--lumo-space-m) 0;
	font-size: 1.5em;
	font-weight: bold;
}

.secondary-text {
	font-size: var(--lumo-font-size-s);
	color: var(--lumo-secondary-text-color);
}

.avatar-running-container {
	color: var(--avatar-container-text-color);
	background-color: var(--avatar-running-container-background-color);
}

.avatar-exited-container {
	color: var(--avatar-container-text-color);
	background-color: var(--avatar-exited-container-background-color);
}

.list-data-field {
	border: 1px dashed var(--lumo-contrast-30pct);
	border-radius: var(--lumo-border-radius-m);
	padding: 8px;
	color: var(--lumo-secondary-text-color);
}

.details-summary-hr {
	height: 1px;
	border: 0 none currentcolor;
	border-image-repeat: stretch;
	border-image-source: none;
	border-image-width: 1;
	background-color: var(--lumo-secondary-text-color);
}